
<h1> Our Story </h1>
<label> Viva Jalisco Mexican Restaurant opened in 2006 to deliver authentic taste and flavors from the land of the blue agave. Our signature combinations bring together classic Mexican dishes with a contemporary flair.  Our chefs have traveled through the state of Jalisco, birthplace of tequila and mariachi, to discover rich recipes, unique ingredients, and the vibrant spices.  Each season we bring new combinations to the menu and we never stop searching for fantastic recipes in order to new experiences and fuse together the best of Mexican traditions. </label>


<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div
<p> Like Us On Facebook or Share Our Story to Receive Updates and Promotions </p>
</div>
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<h2> Combinations </h2>



    <% Meal.read.order("name desc").each do |meal| %>

         <strong><%= link_to meal["name"], "/meal/#{meal["id"]}" %></strong>
        
        <p><%= meal["description"] %></p>   	
        <p>Price:  $<%= meal["price"] %></p>

 
    <% end %>
  

</body>




 




