<h1> APPETIZERS </h1

<% all_apps = Appetizer.read %>

<ul>

<% all_apps.each do |app| %>

<li><strong><%= link_to app["name"], "/appetizer/#{app["id"]}" %></strong></li>

<% end %>



</ul>