<h1> BEVERAGES </h1>


<img src="http://www.foodmanufacture.co.uk/var/plain_site/storage/images/publications/food-beverage-nutrition/foodmanufacture.co.uk/food-safety/soft-drinks-industry-rejects-calls-for-budget-sugar-tax/7862802-1-eng-GB/Soft-drinks-industry-rejects-calls-for-budget-sugar-tax_medium_vga.jpg", width = "120" height = "100">
<img src="http://d2x83fpq8bsx3q.cloudfront.net/wp-content/uploads/2013/04/Horchata-Main-Image.jpg", width = "120" height = "100">
<img src="http://img4-1.myrecipes.timeinc.net/i/recipes/su/08/08/agua-fresca-su-1010529-l.jpg", width = "120" height = "100">
<img src="http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2011/2/21/0/GH0312H_earl-grey-iced-tea_s4x3.jpg", width = "120" height = "100">
<img src="http://www.vinoandfriends.com/files/9013/6803/7587/sangria.jpg", width = "120" height = "100">
<img src="http://www.myhotwingz.com/wp-content/uploads/2012/01/domestic_beers.png", width = "120" height = "100">
<img src="http://sofreakingcool.com/wp-content/uploads/2014/05/Negra-Modelo-0505.jpg", width = "120" height = "100">

<% all_beverages = Beverage.read %>


<ul>
<% all_beverages.each do |beverage| %>
<li><strong><%= beverage.name %></strong></li>
<% end %>

<% all_beverages.each do |beverages| %>
<% end %>




</ul>