<h1> SIDES </h1>



<% all_sides = Side.read %>

<ul>

<% all_sides.each do |side| %>

<li><strong><%= side.name %></strong></li>
<% end %>

<% all_sides.each do |side| %>
<img src="side.photo", width = "200" height = "200">
<% end %>

</ul>

