<h1> DESSERTS </h1>

<% all_desserts = Dessert.read %>

<ul>

<% all_desserts.each do |dessert| %>

<li><strong><%= link_to dessert["name"], "/dessert/#{dessert["id"]}" %></strong></li>
<% end %>

</ul>